{% if include.content.status == 'supported' %}
{% assign label-class='label-green' %}
{% elsif include.content.status == 'unsupported' %}
{% assign label-class='label-red' %}
{% endif %}

<p class="label {{ label-class }}">{{ include.content.status }}</p>
<br>
{% if include.content.details != nil %}
    {% if include.content.details-caption != nil %}
        {% assign details-caption = include.content.details-caption %}
    {% else %}
        {% assign details-caption = include.content.details | split: '/' | slice: 3,2 | join: '/' %}
    {% endif %}
    Details:
    <a href="{{ include.content.details }}">
        {{ details-caption }}
    </a>
{% endif %}
