{% if include.content.status == 'supported' %}
  {% assign label-class='label-green' %}
{% elsif include.content.status == 'unsupported' %}
  {% assign label-class='label-red' %}
{% elsif include.content.status == 'pending' %}
  {% assign label-class='label-purple' %}
{% else %}
  {% assign label-class='' %}
{% endif %}

<p class="label {{ label-class }}">{{ include.content.status }}</p>
<br>
{% if include.content.details != nil %}
    {% if include.content.details-caption != nil %}
        {% assign details-caption = include.content.details-caption %}
    {% else %}
        {% assign details-caption = include.content.details | split: '/' | slice: 1,2  %}
    {% endif %}
    Details:
    <a href="{{ include.content.details }}">
        {{ details-caption }}
    </a>
{% endif %}
